
@font-face {
    font-family: 'pocketcalculator'; /*a name to be used later*/
    src: url('POCKC___.TTF'); /*URL to font*/
}

h1, h2, p, span, input{
  font-family: Arial, sans-serif;
}

h1{
  font-weight:700;
}

body{
  background: rgb(247, 108, 101);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #bbb4b8;
  border-radius: 50px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;

  width:550px;
  min-height:650px;
}

#top{
  width: 80%;
  height:50px;
  border:1px inset black;
  border-radius: 15px;
  margin-top:25px;
  background-color: #cec9cc;

}

#solarpanel{
  height: 70%;
  float: left;
  width: 35%;
  background: #32231e;
  border: 3px inset #d5d1c9;
  border-radius: 4px;
  margin-top: 6px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: 24% auto 24% auto 24% auto 24%;
}

.solardeco{
  background: #503d36;
}

#branding{
  font-style: italic;
  float:right;
  margin: 17px 15px;
}

.screenouterdiv{
  width:80%;
  height: 87px;
  margin-top: 25px;
  background: #a2af77;
  border-radius: 17px;
  border: 0px;
  box-shadow: inset 2px 2px grey;
  overflow: hidden;
}

.screeninnerdiv{
  float: right;
  padding: 15px;
}

#screendisplay{
  font-family: 'pocketcalculator';
  border: none;
  text-align: right;
  width: 90%;
  background: #fff0;
  font-size: 44px;
  margin: 0;
}

#buttonscontainer{
  padding: 10px;
  width: 80%;
  height: 380px;
  margin-top: 35px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
}

input[type="button"]{
  margin: 7px;
  font-weight: 700;
  font-size: 36px;
  border-width: 0px;
  box-shadow: 0px 5px rgba(0,0,0,0.6);
  transition: all .07s ease;
  border-radius: 5px;
  color: white;
  background-color: #b5b6e4;
}

input[type="button"].operator{
  background-color: #908a99;
}

input[type="button"]:active{}

input[type="button"].clicked{
  box-shadow: 0 0 0 rgba(0,0,0,0.8);
  margin-top: 12px;
  margin-bottom: 2px;
}

input[type="button"]:focus{
  outline: none;
  border: none;
}

#zerobutton{
  grid-column-start: 1;
  grid-column-end: span 2;
}

#equalsbutton{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: span 2;
  background: #4f43ae;
}
