body{
  background: rgb(25, 180, 80);
  display: flex;
  justify-content: center;
}

#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background:pink;
  width:550px;
  min-height:600px;
}

#screen{
  width:80%;
  height: 15%;
  margin-top: 20px;
  background: #a2af77;
  border-radius: 17px;
  border: 0px;
  box-shadow: inset 2px 2px grey;
}

#buttonscontainer{
  padding: 10px;
  width: 80%;
  height: 60%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
}

#numpad{

  background: blue;
  height: 100%;
  width: 60%;
}

.numpadbtn{
  margin: 7px;
  font-weight: 700;
  font-size: 36px;
  border-width: 0px;
  box-shadow: 2px 2px gray;
}

#operators{
  background: red;
  height: 100%;
  width: 40%;
}

#zerobutton{
  grid-column-start: 1;
  grid-column-end: span 2;
}

#equalsbutton{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: span 2;
}
