h1, p, input{
  font-family: Arial, sans-serif;
}

h1{
  font-weight:700;
}

body{
  background: rgb(247, 108, 101);
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background:#bbb9b3;
  border-radius: 50px;
  width:550px;
  min-height:650px;
}

#top{
  width: 80%;
  height:50px;
  border:1px inset black;
  border-radius: 15px;
  margin-top:25px;
  background-color: #ccc9c1;

}

#screen{
  width:80%;
  height: 15%;
  margin-top: 25px;
  background: #a2af77;
  border-radius: 17px;
  border: 0px;
  box-shadow: inset 2px 2px grey;
}

#buttonscontainer{
  padding: 10px;
  width: 80%;
  height: 60%;
  margin-top: 35px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
}

input[type="button"]{
  margin: 7px;
  font-weight: 700;
  font-size: 36px;
  border-width: 0px;
  box-shadow: 2px 2px gray;
  border-radius: 5px;
  color: white;
  background-color: #464444;
}

input[type="button"].operator{
  background-color: #676565;
}

#zerobutton{
  grid-column-start: 1;
  grid-column-end: span 2;
}

#equalsbutton{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: span 2;
  background: #c57a50;
}
